:root {
    --main: #093c9c;
    --point: #d3ba9e;
    --cb: #000;
    --c2: #222;
    --c3: #333;
    --c4: #444;
    --c6: #666;
    --c9: #999;
    --cl: #d1d2d3;
    --cbb: #f0f1f2;
    --cwb: #f8f9fa;
    --cw: #fff;

}


/* --------------------------------- */

.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background: var(--c2);
}

.header .head_brequet {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--c3);
    height: 100px;
}

.header h1 {
    width: 125px;
}

.header .head_customer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 50px;

    font-size: 14px;
}

.header .gnb>ul {
    display: flex;
    gap: 30px;
    color: var(--cwb);
}

.header .user {
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--cl);
}

.header #hb_lan {
    outline: none;
    border: none;
    background: none;
    font-family: 'Roboto';
    font-size: 14px;
    color: var(--cl);
    padding: 14px 0 16px 0;
}

#hb_lan option {
    color: var(--c3);
}


/* 메인 */

.main_visual {
    position: relative;
}


.main_visual .itm {
    position: relative;
    height: 700px;
    background: var(--cl);
    filter: grayscale(0.4);
}

.main_visual .itm::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.7) 0%, rgba(0, 0, 0, 0) 40%);
}

.main_visual .itm01 {
    background: url(../images/mainvisual01.jpg) no-repeat center center/cover;
}

.main_visual .itm02 {
    background: url(../images/mainvisual02.jpg) no-repeat center center/cover;
}

.main_visual .itm03 {
    background: url(../images/mainvisual03.jpg) no-repeat center right/cover;
}

.main_visual .itm .slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.main_visual .itm .slogan .desc {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(0, -50%);
    width: 700px;
    word-break: keep-all;
    text-align: right;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
}

.main_visual .itm03 .slogan .desc {
    right: auto;
    left: 15px;
    text-align: left;
}

/* 
 background: #fff;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.main_visual .slogan .desc::before {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background: #052c65;
    clip-path: polygon(0% 0%, 100% 0%, 100% 66%, 0% 84%);
    transform: scale(1.1);
    z-index: -1;
} */

.main_visual .slogan .desc h3 {
    font-family: 'Instrument Serif';
    font-size: 60px;
    line-height: 70px;
    color: var(--cwb);
    margin: 0 0 18px 0;
}

.main_visual .slogan .desc p {
    font-size: 15px;
    line-height: 20px;
}



.main_visual .text_slide {
    position: absolute;
    top: calc(50% - 40px);
    right: 0;
    transform: translate(0, -50%);

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;


    overflow: hidden;
    backdrop-filter: blur(5px);
    background: rgba(255, 255, 255, 0.5);
    user-select: none;
    cursor: pointer;
}

.main_visual .text_slide .txt strong {
    display: block;
    text-align: right;
    padding: 20px;
    color: var(--c6);
    font-size: 12px;
    border-radius: 10px 0 0 10px;
    transition: 0.1s;
}

/* 
.main_visual .text_slide .txt.on strong {
    background: #fff;
    color: #444;
} */







/* =========================
section Collection
========================= */
.main_collection {
    position: relative;
}

.main_collection .content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 700px;
    align-items: flex-end;
    gap: 40px;
}

.main_collection .content::before {
    content: "”";
    font-family: 'Instrument Serif';
    position: absolute;
    top: 30px;
    right: 10px;
    font-size: 200px;
    color: var(--c3);
    opacity: 20%;
}

.main_collection .content>* {
    overflow: hidden;
}

.main_collection .collection_slide {

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.main_collection .collection_slide figure {
    position: relative;
    display: flex;
    justify-content: center;


    width: 100%;
    height: 600px;
    background: var(--cbb);
}

.main_collection .collection_slide figure::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 120%;
    height: 230px;
    background: var(--cw);
    clip-path: polygon(0% 30%, 100% 0%, 100% 100%, 0% 100%);
}

.main_collection .collection_slide figure img {
    padding: 40px;
    height: 420px;
}

.main_collection .collection_slide figcaption {
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 350px;
    text-align: right;
    overflow: hidden;
    z-index: 999;
}


.main_collection figcaption h3 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0 0 8px 0;
}

.main_collection figcaption h3 strong {
    display: block;
    font-size: 16px;
    line-height: 20px;
    margin: 0 0 0 0;
}

.main_collection figcaption span {
    display: block;
    font-size: 12px;
    font-weight: 500;
    color: var(--main);
    margin: 0 0 25px 0;
}

.main_collection figcaption strong {
    font-size: 16px;
    color: var(--c4);
    margin: 0 0 0 5px;
}

.main_collection figcaption a {
    display: inline-block;
    padding: 7px 30px 5px 30px;
    border: 1px solid var(--main);
    color: var(--main);
    transition: 0.5s;
}

.main_collection figcaption a:hover {
    background: var(--main);
    color: var(--cbb);
}

.main_collection .product {
    display: flex;
    flex-direction: column;
    gap: 130px;
    justify-content: flex-end;
}

.main_collection .product .tit {
    text-align: right;
}

.main_collection .product .tit span {
    display: block;
    font-size: 80px;
    font-family: 'Instrument Serif';
    text-transform: uppercase;
    margin: 0 0 8px 0;
}

.main_collection .product .tit strong {
    color: var(--main);
}

.main_collection .product .tit p {
    font-size: 14px;
    line-height: 20px;
    color: var(--c9);
}

.main_collection .colist_slide figure {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 0 0 0 5px;
    filter: grayscale(1);
    transition: 0.5s;
    background: var(--cwb);
}

.main_collection .colist_slide figure::after {
    content: "";
    position: absolute;
    inset: 0 0 0 0;
    background: rgba(255, 255, 255, 0.3);
}

.main_collection .colist_slide figure img {
    height: 180px;
    object-fit: cover;
    margin: 0 0 10px 0;

}

.main_collection .arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.main_collection .arrows i {
    padding: 15px;
    font-size: 15px;
    border: 1px solid var(--c9);
    color: var(--c9);
    cursor: pointer;
    transition: 0.5s;
}

.main_collection .arrows .left {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 0 0 505px;
}

.main_collection .arrows .right {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 0 0 560px;
}

.main_collection .arrows i:hover {
    border: 1px solid var(--main);
    color: var(--main);
}


/* =========================
section timepiece
========================= */

.main_timepiece {
    position: relative;
    /* background: var(--cwb); */
    background: url(../images/backgrond01.avif) no-repeat fixed center center/cover;
    z-index: 0;
}

.main_timepiece::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0) 70%);
    backdrop-filter: blur(5px) grayscale(0.5);
}

.main_timepiece .title {
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 0 0 0 -565px;
    color: var(--cw);
}

.main_timepiece .title h2 {
    writing-mode: vertical-rl;
}

.main_timepiece .content {
    display: grid;
    grid-template-columns: 1fr 280px;
    align-items: flex-start;
}

.main_timepiece .tp_left {
    position: relative;
    width: 100%;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.main_timepiece .tp_left figure {
    display: flex;
    justify-content: center;
    margin: 0 0 30px 0;
}

.main_timepiece .tp_left figure img {
    filter: grayscale(0.5) brightness(80%);
}

.main_timepiece .tp_piece {
    position: absolute;
    inset: 0 0 0 0;
}

.main_timepiece .tp_piece li {
    position: absolute;
}

.main_timepiece .tp_piece li span {
    font-size: 0;
}

.main_timepiece .tp_piece li.on span {
    position: absolute;
    transform: translate(0, -50%);
    white-space: nowrap;
    font-size: 12px;
    color: var(--c9);
    padding: 5px;
    background: var(--c3);
}

.main_timepiece .tp_piece li::before {
    content: "";
    position: absolute;
    top: -12px;
    left: -12px;
    width: 29px;
    height: 29px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.main_timepiece .tp_piece li::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 5px;
    background: var(--cw);
    border-radius: 50%;
}

.main_timepiece .tp_piece li:hover::after {
    outline: 20px solid rgba(255, 255, 255, 0);
    animation: ef1 1s infinite alternate;
}

.main_timepiece .tp_piece li.on:hover::after {
    outline: 17px solid rgba(255, 255, 255, 0);
    animation: ef2 1s infinite alternate;
}

@keyframes ef1 {
    5% {
        outline: 0px solid rgba(255, 255, 255, 0.1);
    }

    100% {
        outline: 20px solid rgba(255, 255, 255, 0.3);
    }
}

@keyframes ef2 {
    5% {
        outline: 0px solid rgba(255, 255, 255, 0.1);
    }

    90% {
        outline: 17px solid rgba(255, 255, 255, 0.3);
    }
}

.main_timepiece .tp_piece li.on::after {
    top: -3px;
    left: -3px;
    width: 11px;
    height: 11px;
}

.main_timepiece .tp_piece li:nth-child(1) {
    top: 0;
    left: 50%;
}

.main_timepiece .tp_piece li:nth-child(1).on span {
    top: -10px;
    left: 22px;
}

.main_timepiece .tp_piece li:nth-child(2) {
    top: 45px;
    left: 56%;
}

.main_timepiece .tp_piece li:nth-child(2).on span {
    top: 50%;
    left: 25px;
}

.main_timepiece .tp_piece li:nth-child(3) {
    top: 45px;
    left: 40%;
}

.main_timepiece .tp_piece li:nth-child(3).on span {
    top: 5px;
    right: 18px;
}

.main_timepiece .tp_piece li:nth-child(4) {
    top: 110px;
    left: 44%;
}

.main_timepiece .tp_piece li:nth-child(4).on span {
    top: 5px;
    right: 18px;
}

.main_timepiece .tp_piece li:nth-child(5) {
    top: 100px;
    left: 54%;
}

.main_timepiece .tp_piece li:nth-child(5).on span {
    top: 10px;
    left: 20px;
}

.main_timepiece .tp_piece li:nth-child(6) {
    top: 150px;
    left: 71%;
}

.main_timepiece .tp_piece li:nth-child(6).on span {
    top: 5px;
    left: 22px;
}

.main_timepiece .tp_piece li:nth-child(7) {
    top: 275px;
    left: 61.5%;
}

.main_timepiece .tp_piece li:nth-child(7).on span {
    top: 15px;
    left: 22px;
}

.main_timepiece .tp_left p {
    text-align: center;
    color: var(--c9);
    font-size: 12px;
    font-weight: 300;
}

.main_timepiece .tp_desc {
    padding: 30px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}


.main_timepiece .tp_desc li {
    display: none;
}

.main_timepiece .tp_desc li.on {
    display: block;
}

.main_timepiece .tp_desc li .img_box {
    margin: 0 0 20px 0;
}

.main_timepiece .tp_desc li .txt h3 {
    font-size: 25px;
    font-weight: 700;
    color: var(--cw);
    margin: 0 0 7px 0;
}

.main_timepiece .tp_desc li .txt p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    color: var(--cl);
}

/* =========================
section news
========================= */
.main_news .content {
    display: flex;
    flex-direction: row-reverse;
}

.main_news .content .title h2 {
    writing-mode: vertical-rl;
}

/* =========================
footer
========================= */
.footer {
    padding: 40px 0 30px 0;
    background: var(--c2);
    color: var(--cl);
}

.footer .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.footer .foot_customer {
    display: flex;
    gap: 30px;
}

.footer .foot_customer li {
    position: relative;
}

.footer .foot_customer li~li::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -15px;
    transform: translate(0, -50%);
    width: 1px;
    height: 10px;
    background: var(--c4);
}

.footer .foot_customer strong {
    font-weight: 500;
    color: var(--point);
}

.footer .foot_sns {
    display: flex;
    gap: 15px;
}

.footer .foot_sns li a {
    display: block;
    font-size: 18px;
}

.footer .foot_sns li:hover a {
    color: var(--c6);
}

.footer address p {
    font-size: 14px;
    color: var(--c6);
}